{% extends 'base.html' %}
{% block page-css %}
    <style>
        th {
            text-align: center;
            width: 50px;
        }
    </style>
{% endblock %}
{% block page-base %}
    <h2>课程记录表</h2>
    <form action="" method="get">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-lg-3 pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="query">
                    <span class="input-group-btn"><button class="btn btn-info" type="submit">搜索</button></span>
                </div>
            </div>
        </div>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 ">
                <div class="input-group">
                    <label for="action"></label>
                    <select class="form-control" name="action" id="action">
                        <option value="">---------</option>
                        <option value="multi_init">初始化学习记录</option>
                        <option value="delete">删除</option>
                    </select>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-info right">提交
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 pull-right">
                <a href="{% url 'add_course_record' class_id %}?{{ next_url }}" type="button"
                   class="btn btn-success btn-md"
                   style="padding-right: 22px">添加</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover text-center table-bordered">
                        <thead>
                        <tr class="info">
                            <td style="width: 40px;" class="text-center'">选择</td>
                            <th>#</th>
                            <th>课程节次</th>
                            <th>课程标题</th>
                            <th>上课时间</th>
                            <th>作业</th>
                            <th>授课老师</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in course_record_list %}
                            <tr>
                                <td style="width: 20px;"><input type="checkbox" name="cid" value="{{ course.id }}"></td>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'study_record_list' course.id %}">{{ course.show_name }}</a></td>
                                <td>{{ course.course_title }}</td>
                                <td>{{ course.date }}</td>
                                <td>{{ course.has_homework }}</td>
                                <td>{{ course.teacher }}</td>
                                <td><a href="{% url 'edit_course_record' course.id %}" class="btn btn-success"><span
                                        class="glyphicon glyphicon-pencil"></span>编辑</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ page_html|safe }}
                </div>
            </div>
        </div>

    </form>

{% endblock %}

