{% extends 'base.html' %}
{% block page-css %}
    <style>
        th {
            text-align: center;
            width: 50px;
        }
    </style>
{% endblock %}
{% block page-base %}
    <h2>报名表</h2>
    <form action="" method="get">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-lg-3 pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="query">
                    <span class="input-group-btn">
        <button class="btn btn-info" type="submit">搜索</button>
      </span>
                </div>
            </div>
        </div>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover text-center table-bordered">
                        <thead>
                        <tr class="info">
                            <td style="width: 10px">选择</td>
                            <th style="width: 10px">#</th>
                            <th>客户名称</th>
                            <th>学校</th>
                            <th>所报班级</th>
                            <th>报名原因</th>
                            <th>期望</th>
                            <th>协议</th>
                            <th>报名日期</th>
                            <th>备注</th>
                            <th>删除状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for enrollment in enrollment_list %}
                            <tr>
                                <td style="width: 10px;"><input type="checkbox" name="cid" value="{{ customer.id }}">
                                </td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ enrollment.customer.name }}</td>
                                <td>{{ enrollment.school }}</td>
                                <td>{{ enrollment.enrolment_class }}</td>
                                <td>{{ enrollment.why_us }}</td>
                                <td>{{ enrollment.your_expectation }}</td>
                                <td>{{ enrollment.contract_agreed }}</td>
                                <td>{{ enrollment.enrolled_date }}</td>
                                <td>{{ enrollment.memo }}</td>
                                <td>{{ enrollment.delete_status }}</td>
                                <td><a href="{% url 'edit_enrollment'  enrollment.id %}" class="btn btn-success"><span
                                        class="glyphicon glyphicon-pencil"></span> 编辑</a>
                                    <a href="{% url 'del_enrollment'  enrollment.id %}" class="btn btn-success"><span
                                            class="glyphicon glyphicon-pencil"></span> 删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ page_html|safe }}
                </div>
            </div>
        </div>

    </form>

{% endblock %}


